<% include ../partials/header %>

<div class="service-single__wrapper">

    <div class="page-title-container">
        <h1 class="page-title u-non-clickable" data-aos="title-animation" data-aos-duration="1000"> <%= doc.data().event_name%>
        </h1>
        <!--<div class="page-pagination">
            <a class="page-pagination-link prev" href="../tech-consultancy/index.html"><svg>
                    <use xlink:href="#icon-arrow-pagination"></a>
            <a class="page-pagination-link next" href="../ux-design/index.html"><svg>
                    <use xlink:href="#icon-arrow-pagination"></a>
        </div>-->
    </div>

    <div class="service-single__sections">
        <div class="grid">
            <h3 class="service-single__section-title" data-aos="fade-right" data-aos-duration="1000">
                Overview</h3>
            <div class="service-single__items" data-aos="fade-up" data-aos-duration="1000">
                <div class="service-single__item">
                    <!-- <span class="service-single__item-index">1</span>-->
                    <h4 class="service-single__item-title" data-mh="service-single-title">Hacktoberfest</h4>
                    <p class="service-single__item-description">
                        <%= doc.data().about_event%>
                    </p>
                </div>
                <div class="service-single__item">
                    <h4 class="service-single__item-title" data-mh="service-single-title">Learn
                    </h4>
                    <p class="service-single__item-description"><%= doc.data().learning_for_student %></p>
                </div>
                <div class="service-single__item">
                    <h4 class="service-single__item-title" data-mh="service-single-title">Workshops
                    </h4>
                    <p class="service-single__item-description"><%= doc.data().about_workshop %></p>
                </div>
                <div class="service-single__item">

                    <h4 class="service-single__item-title" data-mh="service-single-title">NOTE:</h4>
                    <p class="service-single__item-description">
                        <%= doc.data().note_for_student%>
                    </p>
                    </p>
                </div>
                <div class="service-single__item">

                    <h4 class="service-single__item-title" data-mh="service-single-title">Registration process:</h4>
                    <p class="service-single__item-description">
                        <%= doc.data().registration_process %>
                    </p>
                </div>
            </div>
        </div>
        <div class="icon-list">
            <h3 class="service-single__section-title" data-aos="fade-right" data-aos-duration="1000">collaboration
            </h3>
            <div class="service-single__items" data-aos="fade-up" data-aos-duration="1000">
                <div class="service-single__item">
                    <img class="service-single__item-icon" src="/wp-content/uploads/2019/01/Git-logo-black.svg" alt="GitHub" title="GitHub">
                </div>
                <div class="service-single__item">
                    <img class="service-single__item-icon" src="/wp-content/uploads/2019/01/ebay.svg" alt="MLH" title="MLH">
                </div>
                <div class="service-single__item">
                    <img class="service-single__item-icon" src="/wp-content/uploads/2019/01/Hacktoberfest_19_Events_lockup_color_600x200.png" alt="hacktoberfest" title="hacktoberfest">
                </div>
                <div class="service-single__item">
                    <img class="service-single__item-icon" src="/wp-content/uploads/2019/01/LHD.png" alt="Local Hack Day" title="Local Hack Day">
                </div>
                <div class="service-single__item">
                    <img class="service-single__item-icon" src="/wp-content/uploads/2019/01/AWS.png" alt="AWS" title="AWS">
                </div>
                <div class="service-single__item">
                    <img class="service-single__item-icon" src="/wp-content/uploads/2019/01/IBMz.png" alt="IBMz" title="IBMz">
                </div>
                <div class="service-single__item">
                    <img class="service-single__item-icon" src="/wp-content/uploads/2019/01/Mozilla.png" alt="Mozilla" title="Mozilla">
                </div>
                <div class="service-single__item">
                    <img class="service-single__item-icon" src="/wp-content/uploads/2019/01/stickermule.jpg" alt="Stickermule" title="Stickermule">
                </div>



            </div>
        </div>
        <div class="row">
            <h3 class="service-single__section-title" data-aos="fade-right" data-aos-duration="1000">
                Agenda</h3>
            <div class="service-single__items" data-aos="fade-up" data-aos-duration="1000">
                <div class="service-single__item">
                    <span class="service-single__item-index">1</span>
                    <h4 class="service-single__item-title" data-mh="service-single-title">THINK</h4>
                    <p class="service-single__item-description">Design Thinking + Brainstorming</p>
                </div>
                <div class="service-single__item">
                    <span class="service-single__item-index">2</span>
                    <h4 class="service-single__item-title" data-mh="service-single-title">LEARN</h4>
                    <p class="service-single__item-description">
                        Technical Workshop (Front-end + Back-end)
                    </p>
                </div>
                <div class="service-single__item">
                    <span class="service-single__item-index">3</span>
                    <h4 class="service-single__item-title" data-mh="service-single-title">IDEATE</h4>
                    <p class="service-single__item-description">
                        Encounter Real Life problems
                    </p>
                </div>
                <div class="service-single__item">
                    <span class="service-single__item-index">4</span>
                    <h4 class="service-single__item-title" data-mh="service-single-title">IMPLEMENT</h4>
                    <p class="service-single__item-description">
                        Build your solution
                    </p>
                </div>
                <div class="service-single__item">
                    <span class="service-single__item-index">5</span>
                    <h4 class="service-single__item-title" data-mh="service-single-title">Deploy and Discuss</h4>
                    <p class="service-single__item-description">
                        Commit on Github and have a nice discussion with expert panel
                    </p>
                </div>

            </div>
        </div>
        <div class="row">
            <h3 class="service-single__section-title" data-aos="fade-right" data-aos-duration="1000">
                benefits</h3>
            <div class="service-single__items" data-aos="fade-up" data-aos-duration="1000">
                <div class="service-single__item">
                    <span class="service-single__item-index">1</span>
                    <h4 class="service-single__item-title" data-mh="service-single-title">Knowledge</h4>
                    <p class="service-single__item-description"></p>
                </div>
                <div class="service-single__item">
                    <span class="service-single__item-index">2</span>
                    <h4 class="service-single__item-title" data-mh="service-single-title">Certificate</h4>
                    <p class="service-single__item-description">
                    </p>
                </div>
                <div class="service-single__item">
                    <span class="service-single__item-index">3</span>
                    <h4 class="service-single__item-title" data-mh="service-single-title">Goodies</h4>
                    <p class="service-single__item-description">
                    </p>
                </div>

            </div>
        </div>


    </div>


    <div class="service-single__info page-info" data-aos="fade-up" data-aos-duration="1000">
        <h4 class="service-single__info-heading page-info-heading">Ready to participate?</h4>
        <p class="service-single__info-text page-info-text">
            <u style="color: #fff"> <a href="https://drive.google.com/drive/folders/1PQTyDwyEvShu390wrG4oOh5HLKbUjnkN?usp=sharing">*GET SOURCE FILES HERE </a></u><br>
        </p>

        <a class="btn-closed service-single__info-link page-info-link">Registrations Closed for MLH Account<svg class="service-single__info-icon">
                <use xlink:href="#icon-arrow-on-btn"></use>
            </svg>
        </a>
    </div>
</div>

<% include ../partials/footer %>